.HomeContainer {
    display: flex;
    width: 100%;
    height: 100vh;
}

.HomeSideTextContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FEFEFE;
    padding: 0 4rem;

    .Heading {
        font-size: 48px;
        font-family: Catamaran-regular, sans-serif;
        font-weight: 400;
    }

    .SubHeading {
        font-family: Catamaran, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
    }
}
.HomeCTA {
    box-shadow: none;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 26px;
    background: #FEFEFE;
    color: #323743;
    font-family: Catamaran,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.HomeImg{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
}
.IntroBanner{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: -1.9rem;
    z-index: -1;
    width: 130px;
    height: 20px;
    border-radius: 1in;
    padding: 1rem;
    box-shadow:inset -100px 0 #FDF3F0,inset 9in 0 #fff;
}
.IntroBannerContainer{
    display: flex;
    align-items: center;
}
.IntroImg{
    border-radius: 24px;
    width: 100%;
    height: 100%;
}
.IntroImgContainer{
    padding: 4rem;
}