.Banner {
    padding: 1rem;
    background: #FEFEFE;
    position: sticky;
    height: 3rem;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.Logo {
    img {
        height: 2rem;
        width: 4rem;

    }
}
.LinkContainer{
    display: flex;
    gap: 1rem;
}

.SchedileButton {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 26px;
    background: #C03910;
    font-weight: 600;
    height: 43px;
    color: #FEFEFE;
    font-family: Catamaran;
    font-size: 16px;
    border: none;
}
.IndividualLink{
    text-decoration: none;
    color: #565D6D;
    font-family: Catamaran;
    font-size: 18px;
    font-weight: 300;
    &:hover{
        color: #C03910;
    }
}
.IndividualLinkActive{
    @extend .IndividualLink;
    color: #C03910;
}